/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    background-color: #f8f9fa;
    color: #343a40;
}

h1, h2 {
    color: #007bff; /* Header color */
}

.navbar {
    margin-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.nav-link {
    color: #007bff; /* Link color */
}

.nav-link:hover {
    color: #0056b3; /* Hover color */
}
