body, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.8; 
    background-color: #f8f9fa; 
    color: #333;
}

.container {
    width: 100%;
    max-width: 400px; 
    margin: 20px auto;
}

.terms-content {
    background: #ffffff; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto; 
    overflow-y: auto;
}

.navbar {
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    justify-content: center; 
}

.navbar-nav {
    margin-left: auto;
}

h2, h3 {
    color: #35424a;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5rem; 
}

h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

p {
    margin-bottom: 15px; 
    font-size: 0.9rem; 
}
